.calc{
    width:400px;
    height: 600px;
    background-color: grey;
    margin-left: 400px;
    margin-top: 50px;

}
#screen {
    width: 70%;
    height: 30px;
    margin-left: 40px;
    margin-top: 45px;
    pointer-events: none;
}
.btn
{
    width:60px;
    height:40px;
    margin-left: 20px;
    margin-top: 60px;
}